* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
}
.container {
	width: 60%;
	position: absolute;
	top: 50%;
	right: 50%;
	transform: translate(50%, -50%);
	border: 1px solid #ccc;
  padding: 34px 32px;
	border-radius: 60px;
  .title{
    padding-top: 12px;
    font-weight: bold;
  }
}
